{% macro horizontal_input(name, label, default='', type='text') -%}
	<div class="form-group">
		<label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
		<div class="col-sm-10">
			<input type="{{type}}" name="{{name}}" class="form-control" id="{{name}}" placeholder="{{label}}" value="{{default}}">
		</div>
	</div>
{%- endmacro %}

{% macro horizontal_select(name, label, values, type='text') -%}
	<div class="form-group">
		<label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
		<div class="col-sm-10">
			<select class="form-control" name="{{name}}">
				{% for item in values %}
					<option value={{item[0]}}>{{item[1]}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{%- endmacro %}

{% macro horizontal_textarea(name, label, default='', type='text') -%}
	<div class="form-group">
		<label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
		<div class="col-sm-10">
			<textarea name="{{name}}" class="form-control" id="{{name}}">{{default}}</textarea>
		</div>
	</div>
{%- endmacro %}

{% macro button_radio(name, options) %}
	<div class="btn-group" data-toggle="buttons">
		{% for option in options %}
			<label class="btn btn-primary">
		    	<input type="radio" name="{{name}}" id="{{option[0]}}" value="{{option[0]}}" autocomplete="off">
		    		{{option[1]}}
		  	</label>
		{% endfor %}
	</div>
{%- endmacro %}